.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/node_modules/
spec/dummy/yarn-error.log
spec/dummy/storage/
spec/dummy/tmp/
coverage/
Gemfile.lock
Gemfile.local

# Ignore Appraisal related files
gemfiles/*.gemfile.lock
.ruby-version
