.bundle/
log/*.log
pkg/
spec/dummy_rails/db/*.sqlite3
spec/dummy_rails/db/*.sqlite3-journal
spec/dummy_rails/log/*.log
spec/dummy_rails/node_modules/
spec/dummy_rails/yarn-error.log
spec/dummy_rails/storage/
spec/dummy_rails/tmp/
coverage/
Gemfile.lock
Gemfile.local

# Ignore Appraisal related files
gemfiles/*.gemfile.lock
.ruby-version
