name: RSpec

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: "0 10 * * *"

jobs:
  rspec:
    runs-on: ubuntu-latest

    env:
      ALLOW_FAILURES: "${{ matrix.allow_failures }}"
      BUNDLE_GEMFILE: "${{ matrix.gemfile }}"

    strategy:
      fail-fast: false
      matrix:
        ruby: ['3.0', 3.1, 3.2]

        gemfile: [
          "gemfiles/rails_6_1.gemfile",
          "gemfiles/rails_7_0.gemfile",
          "gemfiles/rails_7_1.gemfile",
        ]

        allow_failures:
          - false

        include:
          - ruby: ruby-head
            gemfile: gemfiles/railsmaster.gemfile
            allow_failures: true

    steps:
    - uses: actions/checkout@v3

    - name: Install libyaml-dev
      run: sudo apt-get install libyaml-dev

    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
        cache-version: 2

    - name: Run RSpec (Rails mode)
      run: bundle exec rake spec || $ALLOW_FAILURES

    - name: Run RSpec (Rack mode)
      run: RACK=true bundle exec rake spec || $ALLOW_FAILURES
